.timer-container {
  background: #0d1a29;
  font-family: sans-serif;
  width: 50%;
  border: 2px solid black;
  box-shadow: 2px 2px 10px #000;
}

#timer {
  font-size: 2em;
  color: white;
  text-shadow: 0 0 20px #48c8ff;
  text-align: center;
}

#timer div {
  display: inline-block;
  min-width: 50px;
}

#timer div span {
  color: #b1cdf1;
  display: block;
  font-size: 0.35em;
  text-align: center;
}
